/*
@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-Medium.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-Bold.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post_Grotesk';
    src: url('~assets/fonts/subset-PostGrotesk-Bold.woff2') format('woff2'),
        url('~assets/fonts/subset-PostGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post_Grotesk';
    src: url('~assets/fonts/subset-PostGrotesk-Book.woff2') format('woff2'),
        url('~assets/fonts/subset-PostGrotesk-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-MediumItalic.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-BoldItalic.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-Black.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-Regular.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post_Grotesk';
    src: url('~assets/fonts/subset-PostGrotesk-Medium.woff2') format('woff2'),
        url('~assets/fonts/subset-PostGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post_Grotesk';
    src: url('~assets/fonts/subset-PostGrotesk-Light.woff2') format('woff2'),
        url('~assets/fonts/subset-PostGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe_Display';
    src: url('~assets/fonts/subset-NoeDisplay-Italic.woff2') format('woff2'),
        url('~assets/fonts/subset-NoeDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
*/

